# ==========================================
# Application Configuration & AI Template
# ==========================================

# Port Server
PORT=3000

# Base Path (kosongkan jika berjalan di root "/")
NEXT_PUBLIC_BASE_PATH=

# PSC 119 Official Kemenkes API Integration
PSC_API_BASE_URL=https://psc.kemkes.go.id/web_api/v1
PSC_API_TOKEN=your_psc_api_ttoken_here

# Google Gemini AI Key (digunakan untuk modul AI & analisis laporan)
GEMINI_API_KEY=
GOOGLE_AI_API_KEY=
NEXT_PUBLIC_GEMINI_API_KEY=
